// 给项目提供scss全局变量
// 左侧菜单栏的宽度
$base-menu-width:260px;
// 左侧菜单栏折叠后的宽度
$base-menu-fold-width:50px;
// 左侧菜单的背景颜色
$base-menu-left-color:#001529;
// 顶部导航的高度
$base-tabbar-height:50px;
$base-logo-height:50px;
